.board {
    max-height: 500px;
    min-width: 300px;
    border-radius: 10px;
    margin-right: 30px;
    color: white;
    overflow-y: auto;
}

.board_header {
    border-radius: 0 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
}

.add_item {
    display: flex;
    border-radius: var(--board-item-radius);
    padding: var(--board-item-padding);
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--gray);
    cursor: pointer;
    color: black
}